version: '3'
services:
  opencart:
    build: tools
    user: 1000:1000
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./upload:/var/www/html
      - ./storage:/storage

    depends_on:
      - mysql
    command: >
      bash -c "if [ ! -f /var/www/html/install.lock ]; then
                 wait-for-it mysql:3306 -t 60 &&
                 php /var/www/html/install/cli_install.php install --username admin --password admin --email email@example.com --http_server http://partystation.in/ --db_driver mysqli --db_hostname mysql --db_username root --db_password opencart --db_database opencart --db_port 3306 --db_prefix oc_;
                 touch /var/www/html/install.lock;
               fi &&
               apache2-foreground"

  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=opencart
      - MYSQL_DATABASE=opencart
    volumes:
      - mysql-data:/var/lib/mysql

  adminer:
    image: adminer:latest
    environment:
      ADMINER_DEFAULT_SERVER: mysql
    restart: always
    depends_on:
      - mysql
    ports:
      - "8080:8080"

  redis:
    image: redis:latest
    restart: always

  memcached:
    image: memcached:latest
    restart: always

volumes:
  mysql-data: